<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="db" connectionString="server=OWNER-PC\SQLEXPRESS;database=22CONTROL.MDF;trusted_connection=true"/>-->
    <add name="db" connectionString="server=(localdb)\v11.0;database=CONTROL;trusted_connection=true"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>